<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
<div style="display: flex;">
<div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0517/0895/2771/files/Point-removebg-preview.png?v=1608016674">Canada
<h5>Français</h5>
</a></div>
<div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0517/0895/2771/files/Point-removebg-preview.png?v=1608016674">Canada
<h5>Français</h5>
</a></div>
<div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0517/0895/2771/files/Point-removebg-preview.png?v=1608016674">United States
<h5>Français</h5>
</a></div>
</div><br>
<div style="display: flex;">
<div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0517/0895/2771/files/Point-removebg-preview.png?v=1608016674">United States<br>
English
</a></div>
<div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0517/0895/2771/files/Point-removebg-preview.png?v=1608016674">Union europenne<br>
Français
</a></div>
<div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0517/0895/2771/files/Point-removebg-preview.png?v=1608016674">Union europenne<br>
English
</a></div>
</div>
</div>
</body>
</html>
<div class="cozy_crd_links"><img src="https://cdn.shopify.com/s/files/1/0517/0895/2771/files/Point-removebg-preview.png?v=1608016674"><a class="cozy_crd_lnk"  href="#">United Kingdom
    English
    </a></div>
    <div class="cozy_crd_links"><img src="https://cdn.shopify.com/s/files/1/0517/0895/2771/files/Point-removebg-preview.png?v=1608016674"><a class="cozy_crd_lnk"  href="#">Union europenne
    English
    </a></div>
    <div class="cozy_crd_links"><img src="https://cdn.shopify.com/s/files/1/0517/0895/2771/files/Point-removebg-preview.png?v=1608016674"><a class="cozy_crd_lnk"  href="#">Union europenne
    Français
    </a></div>